.card {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 16px;
  border: 2px solid var(--accent);
  border-radius: 6px;
  background-repeat: 4px;
  max-width: calc((1200px - 24px * 3) / 4);
  height: 100%;
}

.card:focus,
.card:hover {
  background-color: var(--accent);
  color: var(--white);
}
