.container {
  min-width: 320px;
  margin: 16px auto;
  padding: 0 16px;
}

@media screen and (min-width: 375px) {
  .container {
    min-width: 375px;
    max-width: 767px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    min-width: 768px;
    max-width: 1439px;
    padding: 0 32px;
    margin: 40px auto;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
    padding: 0 128px;
    margin: 80px auto;
  }
}
