.mainHeader {
  background-color: var(--light);
  padding: 24px 8px;
  border-radius: 12px 12px 0 0;
}

.navMenu {
  display: flex;
  gap: 16px;
}

.navMenuItem {
  position: relative;
  font-weight: 600;
}

.navMenuItem:hover {
  color: var(--accent);
}

.active::after {
  position: absolute;
  left: -4px;
  bottom: -12px;
  content: ' ';
  height: 4px;
  width: calc(100% + 8px);
  border-radius: 2px;
  background-color: var(--accent);
}

@media screen and (min-width: 1440px) {
  .mainHeader {
    padding: 24px;
    border-radius: 12px 0 0 12px;
  }

  .navMenu {
    flex-direction: column;
    justify-content: center;
    gap: 36px;
  }

  .navMenuItem {
    font-size: 18px;
  }
  .active::after {
    display: none;
  }

  .active::before {
    position: absolute;
    left: -12px;
    top: -4px;
    content: ' ';
    width: 4px;
    height: calc(100% + 8px);
    border-radius: 2px;
    background-color: var(--accent);
  }
}
